#############################################
#  java compiler section
#############################################
maven.compile.target=1.5
maven.compile.verbose=off
maven.compile.optimize=on
maven.compile.debug=on
maven.compile.source=1.5
maven.compile.deprecation=off

module.name=Matrix
module.version=1.0

# get from https://github.com/busche/bootstrap
libs.bootstrap=<absolute-or-relative path>

