#!/bin/bash
#
#$ -cwd
#$ -m a
#$ -M busche@ismll.de
#$ -S /bin/bash
#$ -j n
#$ -o logs/output.$JOB_NAME.$TASK_ID.txt
#$ -e logs/output.$JOB_NAME.$TASK_ID.err
#$ -p -100
#
#export JAVA_HOME=/home/busche/jdk1.7.0
#export JAVA_HOME=/usr/java/latest
#export JAVA_HOME=$JAVA_DIR
#export JAVA_OPTS=$JAVA_OPTS" -Xmx8G -Dlog4j.configuration=log4j.properties"

if [ $JAVA_HOME'w' = 'w' ]; then
	export JAVA_HOME=/usr/java/latest
fi

# calculate memory for java
if [ ! $NSLOTS'w' = 'w' ]; then
	mem=1G
	case $NSLOTS in
	1)
	mem=1G
	;;
	2)
	mem=2200M
	;;
	3)
	mem=3400M
	;;
	4)
	mem=4500M
	;;
	5)
	mem=5600M
	;;
	6)
	mem=6700M
	;;
	esac
	
	export JAVA_OPTS=$JAVA_OPTS" -Xmx"$mem" "
	echo Java-opts: $JAVA_OPTS
fi

if [ ! -d logs ]; then
	mkdir logs
fi

cp="."
for f in `ls *.jar -1`; do
        cp=${cp}":"${f}
done

echo meta.HOSTNAME=$HOSTNAME
echo meta.TMPDIR=$TMPDIR
echo meta.JOB_ID=$JOB_ID
echo meta.SGE_TASK_ID=$SGE_TASK_ID 
echo meta.JOB_NAME=$JOB_NAME
echo meta.JAVA_HOME=$JAVA_HOME
echo meta.cp=${cp}
echo meta.date.start=`date`
$JAVA_HOME/bin/java -classpath $cp $JAVA_OPTS de.ismll.console.Generic "$@"
errorlevel=$?

echo meta.date.end=`date`
